.body-dashboard {
    background:  $body-background;
    font-family: $font-general;
    padding-top: 80px; 
}

.footer {
    background-color : $bg-general;
    position: absolute;
    width: 100vw;
    bottom: $zero;
    height: 60px;
    right: $zero;
    bottom: $zero;
    left: $zero;
  }