
table thead tr {
    color: $text-color;
    text-transform: uppercase;
}

table tbody tr {
    border-left: 10px solid $white-color;
    color: $grey-color;
}

table tbody tr:hover {
    border-left: 10px solid $cyan-color;
}
table tbody tr td:hover {
    text-decoration: underline;
}

.table-wrapper-scroll-y {
    display: block;
    height: 74vh;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }