 // Colors
$body-background: #edf3f9;
$bg-general: #2D3C53;
$btn-bg: #4BB7C4;
$white-color: #fff;
$container-color: #e7e7e7;
//Table
$text-color: #4B4453;
$grey-color: grey;
$cyan-color: #4BB7C4;

// Fonts
$font-general: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Values
$zero: 0;